{% extends 'base.html' %}

{% block conteudo %}
<div class="text-center">
    <h2>Bem vindo a tela de Reset de Senha {{ user.username }}</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form_senha.as_p }}
        {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
        <div class="form-group">
            <input class="btn btn-success mb-3 btn-dark" type="submit" value="Trocar">
        </div>
        <div class="btn-group">
            <a type="button" class="btn btn-dark btn-sm" href="{% url 'home' %}">Voltar</a>
        </div>
    </form>
</div>
{% endblock conteudo %}